tools/dist/
tools/xtensa-lx106-elf/
tools/esptool/
tools/mkspiffs/

tools/sdk/lib/liblwip_src.a
tools/sdk/lwip/src/build
tools/sdk/lwip/src/liblwip_src.a

package/versions/

.pioenvs
.piolibdeps

exclude.txt
*.pyc

.DS_Store
Thumbs.db
